<?xml version="1.0" encoding="UTF-8"?>
<config>
    <debug>0</debug>
    <silent>1</silent>
    <saveThumbs>0</saveThumbs>
    <exclusive>1</exclusive>
    <dataStore>
        <type>file</type>
        <name>FileOutputWriter</name>
    </dataStore>
</config>
<detector>
    <type>cascade</type>
    <name>LicensePlateDetector</name>
    <output>nop</output>
    <annotate>1</annotate>
    <path>/home/paulo/projects/infoportugal/objectDetectorIP/ml/cascade/license_plates/old_dataset/classifier/cascade.xml</path>
    <scale>1.04</scale>
    <minNeighbours>6</minNeighbours>
    <minSize>
        <width>35</width>
        <height>15</height>
    </minSize>
    <maxSize>
        <width>350</width>
        <height>150</height>
    </maxSize>
    <validator>
        <type>svm</type>
        <name>SVM_Validator</name>
        <width>64</width>
        <height>128</height>
        <path>/home/paulo/projects/infoportugal/objectDetectorIP/ml/svm/license_plates/SVMValidator.xml</path>
    </validator>
    <validator>
        <type>color</type>
        <name>WhiteColor_Validator</name>
        <colorspace>hsv</colorspace>
        <range>
            <minRange>
                <ch0>0</ch0>
                <ch1>0</ch1>
                <ch2>20</ch2>
            </minRange>
            <maxRange>
                <ch0>179</ch0>
                <ch1>80</ch1>
                <ch2>255</ch2>
            </maxRange>
        </range>
        <areaPercentage>
            <min>0.15</min>
            <max>1.0</max>
        </areaPercentage>
    </validator>
    <validator>
        <type>color</type>
        <name>BlackColor_Validator</name>
        <colorspace>hsv</colorspace>
        <range>
            <minRange>
                <ch0>0</ch0>
                <ch1>0</ch1>
                <ch2>0</ch2>
            </minRange>
            <maxRange>
                <ch0>179</ch0>
                <ch1>90</ch1>
                <ch2>130</ch2>
            </maxRange>
        </range>
        <areaPercentage>
            <min>0.01</min>
            <max>1.0</max>
        </areaPercentage>
    </validator>
    <validator>
        <type>histogram</type>
        <name>HSVHist_Validator</name>
        <colorspace>hsv</colorspace>
        <path>/home/paulo/projects/infoportugal/objectDetectorIP/tools/histogram/license_plates/hsvHist.xml</path>
        <Correlation>
            <ch0>-0.6</ch0>
            <ch1>-0.8</ch1>
        </Correlation>
        <Intersection>
            <ch0>15</ch0>
            <ch1>13</ch1>
        </Intersection>
        <Batta>
            <ch0>0.95</ch0>
            <ch1>0.98</ch1>
        </Batta>
        <ChiSqr>
            <ch0>9e8</ch0>
            <ch1>2e6</ch1>
        </ChiSqr>
    </validator>
    <validator>
        <type>histogram</type>
        <name>BGRHist_Validator</name>
        <colorspace>bgr</colorspace>
        <path>/home/paulo/projects/infoportugal/objectDetectorIP/tools/histogram/license_plates/bgrHist.xml</path>
        <Correlation>
            <ch0>-0.65</ch0>
            <ch1>-0.65</ch1>
            <ch2>-0.60</ch2>
        </Correlation>
        <Intersection>
            <ch0>19</ch0>
            <ch1>800</ch1>
            <ch2>800</ch2>
        </Intersection>
        <Batta>
            <ch0>0.95</ch0>
            <ch1>0.8</ch1>
            <ch2>0.8</ch2>
        </Batta>
        <ChiSqr>
            <ch0>3e6</ch0>
            <ch1>2e6</ch1>
            <ch2>2e6</ch2>
        </ChiSqr>
    </validator>
</detector>
