<?xml version="1.0" encoding="UTF-8"?>
<config>
    <debug>0</debug>
    <silent>0</silent>
    <saveThumbs>1</saveThumbs>
    <exclusive>0</exclusive> 
</config>
<!--<detector>
    <type>cascade</type>
    <name>IndicationsDetector</name>
    <output>Draw</output>
    <annotate>0</annotate>
    <aggregate>
        <scale>0.35</scale>
    </aggregate>
    <path>/home/paulo/projects/infoportugal/objectdetector/ml/cascade/indication_signs/classifier/cascade.xml</path>
    <scale>1.04</scale>
    <minNeighbours>6</minNeighbours>
    <minSize>
        <width>35</width>
        <height>10</height>
    </minSize>
    <maxSize>
        <width>400</width>
        <height>110</height>
    </maxSize>
    <validator>
        <type>svm</type>
        <name>SVM_Validator</name>
        <width>64</width>
        <height>128</height>
        <path>/home/paulo/projects/infoportugal/objectdetector/ml/svm/indication_signs/SVMClassifier.xml</path>
    </validator>
</detector>
<detector>
    <type>cascade</type>
    <name>LicensePlateDetector</name>
    <output>Blurr</output>
    <annotate>1</annotate>
    <path>/home/paulo/projects/infoportugal/objectdetector/ml/cascade/license_plates/old_dataset/classifier/cascade.xml</path>
    <scale>1.04</scale>
    <minNeighbours>6</minNeighbours>
    <minSize>
        <width>35</width>
        <height>15</height>
    </minSize>
    <maxSize>
        <width>350</width>
        <height>150</height>
    </maxSize>
    <validator>
        <type>svm</type>
        <name>SVM_Validator</name>
        <width>64</width>
        <height>128</height>
        <path>/home/paulo/projects/infoportugal/objectdetector/ml/svm/license_plates/old_dataset/SVMClassifier.xml</path>
    </validator>
    <validator>
        <type>color</type>
        <name>WhiteColor_Validator</name>
        <colorspace>hsv</colorspace>
        <minRange>
            <ch0>0</ch0>
            <ch1>0</ch1>
            <ch2>30</ch2>
        </minRange>
        <maxRange>
            <ch0>255</ch0>
            <ch1>50</ch1>
            <ch2>255</ch2>
        </maxRange>
        <areaPercentage>0.05</areaPercentage>
    </validator>
    <validator>
        <type>color</type>
        <name>BlackColor_Validator</name>
        <colorspace>hsv</colorspace>
        <minRange>
            <ch0>0</ch0>
            <ch1>0</ch1>
            <ch2>0</ch2>
        </minRange>
        <maxRange>
            <ch0>255</ch0>
            <ch1>80</ch1>
            <ch2>150</ch2>
        </maxRange>
        <areaPercentage>0.01</areaPercentage>
    </validator>-->
    <!--<validator>
        <type>histogram</type>
        <name>HSVHist_Validator</name>
        <colorspace>hsv</colorspace>
        <path>/home/paulo/projects/infoportugal/objectdetector/tools/histogram/license_plates/hsvHist.xml</path>
        <Correlation>
            <ch0>-0.2</ch0>
            <ch1>0.05</ch1>
        </Correlation>
        <Intersection>
            <ch0>50</ch0>
            <ch1>120</ch1>
        </Intersection>
        <Batta>
            <ch0>0.75</ch0>
            <ch1>0.60</ch1>
        </Batta>
    </validator>
    <validator>
        <type>histogram</type>
        <name>BGRHist_Validator</name>
        <colorspace>bgr</colorspace>
        <path>/home/paulo/projects/infoportugal/objectdetector/tools/histogram/license_plates/bgrHist.xml</path>
        <Correlation>
            <ch0>-0.65</ch0>
            <ch1>-0.71</ch1>
            <ch2>-0.65</ch2>
        </Correlation>
        <Intersection>
            <ch0>950</ch0>
            <ch1>920</ch1>
            <ch2>890</ch2>
        </Intersection>
        <Batta>
            <ch0>0.81</ch0>
            <ch1>0.81</ch1>
            <ch2>0.81</ch2>
        </Batta>
    </validator>-->
<!--</detector>-->
<detector>
    <type>cascade</type>
    <name>ProibSignDetector</name>
    <output>Draw</output>
    <annotate>1</annotate>
    <path>/home/paulo/projects/infoportugal/objectdetector/ml/cascade/traffic_signs/proibClassifier/cascade.xml</path>
    <scale>1.04</scale>
    <minNeighbours>6</minNeighbours>
    <minSize>
        <width>15</width>
        <height>15</height>
    </minSize>
    <maxSize>
        <width>250</width>
        <height>250</height>
    </maxSize>
    <validator>
        <type>svm</type>
        <name>SVM_Validator</name>
        <width>64</width>
        <height>128</height>
        <path>/home/paulo/projects/infoportugal/objectdetector/ml/svm/proib_signs/SVMValidator.xml</path>
    </validator>
    <validator>
        <type>color</type>
        <name>WhiteColor_Validator</name>
        <colorspace>hsv</colorspace>
        <range>
            <minRange>
                <ch0>0</ch0>
                <ch1>0</ch1>
                <ch2>20</ch2>
            </minRange>
            <maxRange>
                <ch0>179</ch0>
                <ch1>80</ch1>
                <ch2>255</ch2>
            </maxRange>
        </range>
        <areaPercentage>0.12</areaPercentage>
    </validator>
    <validator>
        <type>color</type>
        <name>RedColor_Validator</name>
        <colorspace>hsv</colorspace>
        <range>
            <minRange>
                <ch0>0</ch0>
                <ch1>50</ch1>
                <ch2>10</ch2>
            </minRange>
            <maxRange>
                <ch0>40</ch0>
                <ch1>255</ch1>
                <ch2>255</ch2>
            </maxRange>
        </range>
        <range>
            <minRange>
                <ch0>140</ch0>
                <ch1>50</ch1>
                <ch2>10</ch2>
            </minRange>
            <maxRange>
                <ch0>179</ch0>
                <ch1>255</ch1>
                <ch2>255</ch2>
            </maxRange>
        </range>
        <areaPercentage>0.08</areaPercentage>
    </validator>
    <classifier>
        <type>svm</type>
        <name>SVMClassifier</name>
        <width>64</width>
        <height>128</height>
        <path>/home/paulo/projects/infoportugal/objectdetector/ml/svm/proib_signs/SVMClassifier.xml</path>
        <class>
            <name>slimit20</name>
            <id>0</id>
        </class>
        <class>
            <name>slimit30</name>
            <id>1</id>
        </class>
        <class>
            <name>slimit50</name>
            <id>2</id>
        </class>
        <class>
            <name>slimit60</name>
            <id>3</id>
        </class>
        <class>
            <name>slimit70</name>
            <id>4</id>
        </class>
        <class>
            <name>slimit80</name>
            <id>5</id>
        </class>
        <class>
            <name>slimit100</name>
            <id>6</id>
        </class>
        <class>
            <name>slimit120</name>
            <id>7</id>
        </class>
        <class>
            <name>proibUlt</name>
            <id>8</id>
        </class>
        <class>
            <name>proibUltP</name>
            <id>9</id>
        </class>
        <class>
            <name>proibTran</name>
            <id>10</id>
        </class>
        <class>
            <name>proibTranP</name>
            <id>11</id>
        </class>
    </classifier>
</detector>
